apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- manager.yaml
- service.yaml
images:
- name: controller
  newName: quay.io/maistra-dev/odh-project-controller
  newTag: latest
