apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- manager.yaml
- service.yaml
images:
- name: controller
  newName: quay.io/bmajsak/odh-project-controller
  newTag: latest

configMapGenerator:
  - name: service-mesh-refs
    literals:
      - CONTROL_PLANE_NAME=minimal
      - MESH_NAMESPACE=istio-system
generatorOptions:
  disableNameSuffixHash: true